{% extends 'base.html' %}

{% block title %}
<title>Online shop</title>
{% endblock %}

{% block body %}
 <main>
    <div class="container">
      <div class="card-deck mb-3 text-center">
      {% for el in items %}
      <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ el.title }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ el.price }}<small class="text-body-secondary fw-light"> UAH</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{ el.text }}</li>
            </ul>
            <a href="/buy/{{ el.id }}" class="w-100 btn btn-lg btn-outline-primary">Buy</a>
          </div>
        </div>
      {% endfor %}
        </div>
    </div>
 </main>
{% endblock %}